@use 'src/styles/constants/colors';

.nav {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid colors.$GRAY3;
}

.tabList {
  display: flex;
  align-items: center;
}

.tab {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 500;
}

.active {
  color: colors.$ORANGE;
}
